---
import "../../styles.css";
import Navbar from "../../components/Navbar";
import FooterSection from "../../components/FooterSection";
import DetailNews from "../../components/DetailNews.astro";
const { frontmatter } = Astro.props;
const { title, date, author, image, content } = frontmatter;
---

<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        />
        <title>Detail News</title>
    </head>
    <body>
        <Navbar />
        <DetailNews {title} {date} {author} {image} {content} />
        <FooterSection />
    </body>
</html>
